<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cash N Carry</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            
        </div>

        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("LACES, Inc.", "Index", "Movies", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seminars</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">March 2014</a></li>
                                <li><a href="#">April 2014</a></li>
                                <li><a href="#">June 2014</a></li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Registration", "Index", "Home")</li>
                        <li>@Html.ActionLink("Vendors", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>


                    </ul>



                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
